{% if section.blocks.size > 0 %}
<div class="hero-promo-banner">
  <div class="container">
    <div class="row">
      <div class="slideshowBnr">
      <div class="banner_mosaic banner-slider">
        {% assign count = 0 %}
        {% for block in section.blocks %}
          {% assign count = count | plus: 1 %}
          {% if block.settings.image1 != blank %}
            <div class="mosaic__item item-{{count}}">
              <a href="{{ block.settings.buttonlink1 }}" class="{% if block.settings.mob_image1 != blank %}hidden-xs {% endif %}promo-block promo-block--{{ block.settings.block_alignment }}-center promo-block--overlay" style="background-image: url({{ block.settings.image1 | img_url: ''}})">
                <div class="promo-block__image-clip">
                  <div class="promo-block__image-wrapper promo-block__image-wrapper--cover image--fade-in lazyload"></div> 
                </div>
                <div class="promo-block__inner {{ block.settings.text_alignment }}{% if block.settings.textcolor %} home-text-color{% endif %}">
                  <p class="promo-block__heading heading h3{% if block.settings.heading_text_size %} heading-text-size{% endif %}">{{ block.settings.heading1 }}</p>
                  <p class="promo-block__content{% if block.settings.text_size %} contnt-text-size{% endif %}">{{ block.settings.subheading1 }}</p>
                  <span class="promo-block__cta button button--floating">{{ block.settings.buttontext1 }}</span>
                </div>
              </a>
              {% if block.settings.mob_image1 != blank %}
                <a href="{{ block.settings.buttonlink1 }}" id="" class="visible-xs promo-block promo-block--{{ block.settings.block_alignment }}-center promo-block--overlay" style="background-image: url({{ block.settings.mob_image1 | img_url: ''}});">
                  <div class="promo-block__image-clip">
                    <div class="promo-block__image-wrapper promo-block__image-wrapper--cover image--fade-in lazyload"></div> 
                  </div>
                  <div class="promo-block__inner {{ block.settings.text_alignment }}{% if block.settings.textcolor %} home-text-color{% endif %}">
                    <p class="promo-block__heading heading h3{% if block.settings.heading_text_size %} heading-text-size{% endif %}">{{ block.settings.heading1 }}</p>
                    <p class="promo-block__content{% if block.settings.text_size %} contnt-text-size{% endif %}">{{ block.settings.subheading1 }}</p>
                    <span class="promo-block__cta button button--floating">{{ block.settings.buttontext1 }}</span>
                  </div>
                </a>
              {% endif %}
              <style>
                .banner-slider .item-{{count}} .promo-block__inner {
                  text-align: {{ block.settings.text_alignment }};
                }
                .banner-slider .item-{{count}} .promo-block__inner.right .promo-block__content{
                  margin-right: 0;
                  margin-left: auto;
                }
                .banner-slider .item-{{count}} .promo-block__inner.center .promo-block__content{
                  margin: 0 auto;
                }
                .template-index .item-{{count}} .promo-block__heading.heading-text-size {
                  font-size: {{ block.settings.heading_text_size }}px;
                }
                .template-index .item-{{count}} .promo-block__content.contnt-text-size {
                  font-size: {{ block.settings.text_size }}px;
                }
/*                 .template-index .item-{{count}} .home-text-color p{
                  color: {{ block.settings.textcolor }};
                } */
                .banner-slider .mosaic__item.item-{{count}} .promo-block__content,
                .banner-slider .mosaic__item.item-{{count}} .promo-block__inner .h3{
                  color: {{ block.settings.textcolor }};
                }
                .banner-slider .mosaic__item.item-{{count}} .promo-block__inner.right .h3{
                  margin-left: auto;
                  margin-right: 0;
                }
                .banner-slider .mosaic__item.item-{{count}} .promo-block__inner.center .h3{
                  margin: 0 auto;
                }
                  
                
                html[lang="ar"] .banner-slider .item-{{count}} .promo-block__inner {text-align: right;}
                .banner-slider .item-{{count}} .button {
                  background: {{ block.settings.buttonbgcolor1 }};
                  color: {{ block.settings.buttoncolor1 }}
                }
                .banner-slider .item-{{count}} .button:hover {background: {{ block.settings.buttonbghover1 }};}
                @media only screen and (max-width: 640px){
                  .template-index .item-{{count}} .promo-block__heading.heading-text-size {
                    font-size: calc({{ block.settings.heading_text_size }}px*0.89);
                  }
                }
                @media only screen and (max-width: 480px){
                  .template-index .item-{{count}} .promo-block__heading.heading-text-size {
                    font-size: calc({{ block.settings.heading_text_size }}px*0.63);
                  }
                  .template-index .item-{{count}} .promo-block__content.contnt-text-size {
                    font-size: calc({{ block.settings.text_size }}px - 2px);
                  }
                }
              </style>
            </div>
          {% endif %}
        {% endfor %}
      </div>
        <div class="slider-progress">
          <span></span>
        </div>
      </div>
      {% if section.settings.image2 != blank %}
        <a href="{{ section.settings.buttonlink2 }}" class="promo-block home-banner-block promo-block--top-left  promo-block--medium">
          <div class="promo-block__image-clip">
            <div class="{% if section.settings.mob_image2 != blank %}hidden-xs {% endif %}promo-block__image-wrapper lazyload" style="background-image: url({{ section.settings.image2 | img_url: ''}});"></div>
            {% if section.settings.mob_image2 != blank %}
              <div class="visible-xs promo-block__image-wrapper lazyload" style="background-image: url({{ section.settings.mob_image2 | img_url: ''}});"></div>
            {% endif %}
          </div>
          <div class="promo-block__inner" style="color:{{ section.settings.text_color }};">
            <p class="promo-block__heading heading h3">{{ section.settings.heading2 }}</p>
            <p class="promo-block__content">{{ section.settings.subheading2 }}</p>
            {% if section.settings.buttontext2 != blank %}
              <span class="promo-block__cta button button--floating">{{section.settings.buttontext2}}</span>
            {% endif %}
          </div>
          {% if section.settings.badge != blank %}
            <div class="product-item__label-list">
              <span class="product-label product-label-new" {% if section.settings.badgebg != blank %}style="background: {{ section.settings.badgebg }};"{% endif %}>{{ section.settings.badge }}</span>
            </div>
          {% endif %}
        </a>
      {% endif %}
    </div>
  </div>
</div>
{% endif %}

{% schema %}
{
  "name": "Homepage Promo Banner",
  "settings": [
    {
      "type": "header",
      "content": "Right Section"
    }, 
    {
      "type": "image_picker",
      "id": "image2",
      "label": "Image ",
      "info": "332 x 442px .jpg recommended"
    },
	{
      "type": "image_picker",
      "id": "mob_image2",
      "label": "Mobile Image",
      "info": "500px x 300px .jpg recommended"
    },
    {
      "type": "textarea",
      "id": "badge",
      "label": "Badge Text"
    },
    {
      "type": "color",
      "id": "badgebg",
      "label": "Background",
      "default": "#06a0e3"
    },
    {
      "type": "textarea",
      "id": "heading2",
      "label": "Heading"
    },
    {
      "type": "textarea",
      "id": "subheading2",
      "label": "Sub-Heading"
    },
	{
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#ffffff"
    },
    {
      "type": "text",
      "id": "buttontext2",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "buttonlink2",
      "label": "Button Link"
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image1",
          "label": "Image ",
          "info": "1044 x 442px .jpg recommended"
        },
		{
          "type": "image_picker",
          "id": "mob_image1",
          "label": "Mobile Image ",
          "info": "500px x 600px .jpg recommended"
        },
        {
          "type": "textarea",
          "id": "heading1",
          "label": "Heading"
        },
        {
          "type": "textarea",
          "id": "subheading1",
          "label": "Sub-Heading"
        },
        {
          "type": "text",
          "id": "buttontext1",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "buttonlink1",
          "label": "Button Link"
        },
		{
          "type": "select",
          "id": "text_alignment",
          "label": "Text Alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            },
			{
              "value": "center",
              "label": "Center"
            }
          ],
          "default": "left"
        },
		{
          "type": "select",
          "id": "block_alignment",
          "label": "Block Alignment",
          "options": [
            {
              "value": "top",
              "label": "Top"
            },
			{
              "value": "middle",
              "label": "Middle"
            },
			{
              "value": "bottom",
              "label": "Bottom"
            }
          ],
          "default": "middle"
        },
        {
          "type": "range",
          "id": "heading_text_size",
          "label": "Heading Text Size",
          "min": 30,
          "max": 50,
          "step": 1,
          "default": 45
        },
        {
          "type": "range",
          "id": "text_size",
          "label": "Text Size",
          "min": 15,
          "max": 25,
          "step": 1,
          "default": 18
        },
        {
          "type": "color",
          "id": "textcolor",
          "label": "Text Color",
          "default": "#ffffff"
        },
		{
          "type": "color",
          "id": "buttoncolor1",
          "label": "Button Color",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "buttonbgcolor1",
          "label": "Button Background",
          "default": "#ffffff"
        },
		{
          "type": "color",
          "id": "buttonbghover1",
          "label": "Button Background Hover",
          "default": "#06a0e3"
        }
      ]
    }
  ],
  "presets": [
	{
      "name": "Homepage Promo Banner",
      "category": "Image"
    }
  ]
}
{% endschema %}